@import 'responsive';


// styles

#page3 {

  .hero video {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: hero-video-opacity 5s ease 5s forwards, hero-video-loop 10s ease-in-out 9s infinite;
  }
  
  @keyframes hero-video-loop {
    0% { transform: scale(1);}
    50% { transform: scale(1.03);}
    100% { transform: scale(1);}
  }
  @keyframes hero-video-opacity {
    0% { opacity: 1;}
    100% { opacity: .3;}
  }
  
  .hero h1 {
    font-size: 100px;
    text-shadow: 0 0 5px white;
    line-height: 1.3;
    opacity: 0;
    animation: hero-text-opacity 1s 3s forwards;
  }
  
  @keyframes hero-text-opacity {
    0% { opacity: 0;}
    100% { opacity: 1;}
  }
  
  .container {

    .suntypes-header {
      margin-top: 80px;
      @include value(margin-bottom, 60px, 40px, 20px);
      text-align: center;
    }

    #suntypes {
      margin-bottom: 200px;
      @include value(height, 700px, 600px, 850px);
      display: flex;
      justify-content: space-around;
      @include value-xs(flex-direction, column-reverse);

      .textcontent {
        @include value(width, 720px, 720px, 100%);
        @include value(height, 100%, 100%, 50%);
        @include value(padding, 0 100px 0 20px, 0 10px, 0 10px);
        overflow: hidden;
        display: flex;
        flex-direction: column;

        .header {
          @include value(margin-bottom, 30px, 20px, 10px);
          width: fit-content;
        }
        .content {
          @include value(font-size, 40px, 32px, 24px);
        }
        .btn {
          margin-top: auto;
          @include value(font-size, 36px, 32px, 24px);
        }

        .suntypes-swiper {
          --swiper-pagination-color: #cc95dd;
          --swiper-pagination-bullet-inactive-color: white;
          --swiper-pagination-bullet-horizontal-gap: 6px;
          height: 90%;
          position: relative;

          &-pagination {
            margin-top: 15px;
          }

          &-button {
            z-index: 5;
            position: absolute;
            display: flex;
            @include value(gap, 32px, 24px, 24px);
            @include value(right, 32px, 24px, 24px);
            @include value(top, 12px, 8px, 4px);

            &-prev, &-next {
              img {
                filter: invert(1);
                transition: filter 250ms ease;
                @include value(width, 32px, 24px, 24px);
                @include value(height, 32px, 24px, 24px);

                &:hover {
                  filter: invert(.5);
                }
              }
              &::after {
                display: none;
              }
            }
      
            &-prev img {
              transform: rotate(180deg);
            }

            .swiper-button-disabled img {
              filter: invert(.3) !important;
            }
          }
        }
      }

      .image {
        position: relative;
        aspect-ratio: 647/862;
        @include value(height, 100%, 80%, 45%);
        width: auto;
        @include value(margin, 0, auto 0, 0 auto);

        &-bg-gradient {
          @include value(width, 410px, 282px, 224px);
          @include value(height, 614px, 421px, 335px);
          position: absolute;
          z-index: 0;
          opacity: .6;
          @include value(top, 22px, 15px, 12px);
          @include value(left, 63px, 42px, 34px);
          background: linear-gradient(to right, #a6d0e1, #ffffff, #fff729, #eb930d, #b40200);
          border-top-right-radius: 8px;
        }

        & > img {
          z-index: 0;
          height: 100%;
        }

        img {
          position: absolute;
        }
        &-dots {
          position: relative;
          height: 100%;

          img {
            z-index: 1;
            opacity: 0;
            transition: opacity 150ms ease;
            @include value(transform, scale(.81), scale(.56), scale(.45));
          }

          .active {
            opacity: 1;
          }

          &-ueberriesen {
            @include value(top, 46px, 18px, 5px);
            @include value(left, 98px, 24px, -9px);
          }
          &-helleriesen {
            @include value(top, 114px, 64px, 42px);
            @include value(left, 94px, 4px, -36px);
          }
          &-riesen {
            @include value(top, 185px, 116px, 85px);
            @include value(left, 146px, 50px, 8px);
          }
          &-unterriesen {
            @include value(top, 212px, 122px, 82px);
            @include value(left, 136px, 43px, 2px);
          }
          &-zwerge {
            @include value-xs(transform, scale(.445) !important);
            @include value(top, 93px, 2px, -38px);
            @include value(left, 47px, -32px, -66px);
          }
          &-unterzwerge {
            @include value-xs(transform, scale(.445) !important);
            @include value(top, 430px, 271px, 199px);
            @include value(left, 341px, 215px, 160px);
          }
          &-weissezwerge {
            @include value(top, 458px, 288px, 214px);
            @include value(left, 87px, 18px, -12px);
          }
        }
      }
    }
  }
  
  .swiper {
    --swiper-pagination-color: #cc95dd;
    --swiper-pagination-bullet-inactive-color: white;
    --swiper-pagination-bullet-horizontal-gap: 6px;
    @include value(--swiper-pagination-bottom, 76px, 120px, -8px);
    @include value(--swiper-navigation-sides-offset, -40px, -80px, -40px);
    @include value(height, 945px, 800px, 700px);
    @include value(padding, 100px 0, 80px 0 50px 0, 0);
    @include value-xs(margin-bottom, 150px);
    overflow: visible !important;
  
    &-slide {
      display: flex;
      flex-direction: column;
      @include value-xs(justify-content, space-between);

      h2 {
        margin-bottom: 50px;
        font-size: 150px;
        @include value(font-size, 150px, 100px, 60px);
        text-shadow: 0 0 5px white;
        @include value-xs(text-align, center);
      }
  
      .big-slider-media {
        position: absolute;
        z-index: -1;
      }
  
      .paragraph {
        position: relative;
        margin: 0 80px 50px auto;
        @include value(margin, 0 80px 50px auto, 0 0 50px auto, 0);
        @include value(width, 800px, 520px, 100%);
        @include value(max-height, 500px, 380px, 300px);
        backdrop-filter: blur(3px);

        p {
          overflow-y: scroll;
          padding-top: 10px;
          height: 100%;
          text-shadow: 0 0 4px black;

          &::-webkit-scrollbar {
            width: 8px;

            &-track {
              background: transparent;
            }
            &-thumb {
              background: radial-gradient(white, #cc95dd);
              border-radius: 4px;
              transition: all 200ms ease;

              &:hover {
                background: radial-gradient(white 30%, #cc95dd);
              }
            }
          }
        }
      }
    
      #blackhole-video {
        @include value(height, 130%, 100%, 70%);
        @include value(left, -200px, -300px, -150px);
      }
      #neutronstars-video {
        @include value(height, 130%, 120%, 70%);
        @include value(left, -100px, -250px, -70px);
        @include value-md(top, -60px);
      }
      #quasar-video {
        @include value(height, 110%, 100%, 70%);
        @include value(left, -150px, -400px, -250px);
      }
      #nebulae-image {
        @include value(height, 130%, 100%, 70%);
        @include value(left, 0px, -200px, -70px);
        @include value-xl(top, -50px);
        opacity: .8;
      }
      #exoplanet-video {
        @include value(height, 120%, 90%, 70%);
        @include value(left, 0px, -220px, -60px);
        @include value-md(top, 30px);
      }
    }

    &-button {
      &-prev, &-next {
        img {
          filter: invert(1);
          transition: filter 250ms ease;

          &:hover {
            filter: invert(.5);
          }
        }
        &::after {
          display: none;
        }
      }

      &-prev img {
        transform: rotate(180deg);
      }
    }
  }
}
