@keyframes orbit-rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes infocard-rotation {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
#page3 .hero {
  display: flex;
  align-items: center;
  justify-content: left;
  overflow: visible;
}
#page3 .hero .test3dplanet {
  width: 100%;
  height: 100%;
  position: absolute;
}
#page3 .hero .planetary {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50%;
  transition: margin-left 250ms ease;
}
#page3 .hero .planetary-funfact {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
@media (min-width: 1920px) {
  #page3 .hero .planetary-funfact {
    font-size: 28px;
  }
}
@media (max-width: 1919px) {
  #page3 .hero .planetary-funfact {
    font-size: 24px;
  }
}
@media (max-width: 1023px) {
  #page3 .hero .planetary-funfact {
    font-size: 0;
  }
}
#page3 .hero .planetary div {
  position: absolute;
}
#page3 .hero .planetary button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
}
#page3 .hero .planetary div, #page3 .hero .planetary span, #page3 .hero .planetary button {
  border-radius: 50%;
  aspect-ratio: 1/1;
}
#page3 .hero .sun {
  z-index: 8;
  background: white;
  box-shadow: 0 0 100px 0px yellow, inset 2px 2px 20px 12px rgba(255, 255, 0, 0.8);
}
@media (min-width: 1920px) {
  #page3 .hero .sun {
    width: 50px;
  }
}
@media (max-width: 1919px) {
  #page3 .hero .sun {
    width: 45px;
  }
}
@media (max-width: 1023px) {
  #page3 .hero .sun {
    width: 40px;
  }
}
#page3 .hero .sun .infocard {
  opacity: 0;
  bottom: 35px;
  width: 100%;
  transition: opacity 250ms ease;
}
#page3 .hero .sun .infocard p {
  text-shadow: 0 0 5px white;
  font-size: 32px;
  text-align: center;
}
#page3 .hero .sun:hover .infocard {
  opacity: 1;
}
#page3 .hero .orbit-mercury {
  z-index: 7;
  animation: orbit-rotation 5s -4.1095890411s linear infinite forwards;
}
@media (min-width: 1920px) {
  #page3 .hero .orbit-mercury {
    width: 80px;
  }
}
@media (max-width: 1919px) {
  #page3 .hero .orbit-mercury {
    width: 70px;
  }
}
@media (max-width: 1023px) {
  #page3 .hero .orbit-mercury {
    width: 60px;
  }
}
#page3 .hero .orbit-venus {
  z-index: 6;
  animation: orbit-rotation 12.9s -4.3117808219s linear infinite forwards;
}
@media (min-width: 1920px) {
  #page3 .hero .orbit-venus {
    width: 150px;
  }
}
@media (max-width: 1919px) {
  #page3 .hero .orbit-venus {
    width: 100px;
  }
}
@media (max-width: 1023px) {
  #page3 .hero .orbit-venus {
    width: 95px;
  }
}
#page3 .hero .orbit-earth {
  z-index: 5;
  animation: orbit-rotation 21s -14.9589041096s linear infinite forwards;
}
@media (min-width: 1920px) {
  #page3 .hero .orbit-earth {
    width: 240px;
  }
}
@media (max-width: 1919px) {
  #page3 .hero .orbit-earth {
    width: 160px;
  }
}
@media (max-width: 1023px) {
  #page3 .hero .orbit-earth {
    width: 160px;
  }
}
#page3 .hero .orbit-mars {
  z-index: 4;
  animation: orbit-rotation 39.5s -14.9342465753s linear infinite forwards;
}
@media (min-width: 1920px) {
  #page3 .hero .orbit-mars {
    width: 360px;
  }
}
@media (max-width: 1919px) {
  #page3 .hero .orbit-mars {
    width: 230px;
  }
}
@media (max-width: 1023px) {
  #page3 .hero .orbit-mars {
    width: 240px;
  }
}
#page3 .hero .orbit-jupiter {
  z-index: 3;
  animation: orbit-rotation 249.6s -25.3019178082s linear infinite forwards;
}
@media (min-width: 1920px) {
  #page3 .hero .orbit-jupiter {
    width: 480px;
  }
}
@media (max-width: 1919px) {
  #page3 .hero .orbit-jupiter {
    width: 380px;
  }
}
@media (max-width: 1023px) {
  #page3 .hero .orbit-jupiter {
    width: 340px;
  }
}
#page3 .hero .orbit-saturn {
  z-index: 2;
  animation: orbit-rotation 618.8s -184.7923287671s linear infinite forwards;
}
@media (min-width: 1920px) {
  #page3 .hero .orbit-saturn {
    width: 580px;
  }
}
@media (max-width: 1919px) {
  #page3 .hero .orbit-saturn {
    width: 480px;
  }
}
@media (max-width: 1023px) {
  #page3 .hero .orbit-saturn {
    width: 450px;
  }
}
#page3 .hero .orbit-uranus {
  z-index: 1;
  animation: orbit-rotation 1762s -183.4410958904s linear infinite forwards;
}
@media (min-width: 1920px) {
  #page3 .hero .orbit-uranus {
    width: 680px;
  }
}
@media (max-width: 1919px) {
  #page3 .hero .orbit-uranus {
    width: 590px;
  }
}
@media (max-width: 1023px) {
  #page3 .hero .orbit-uranus {
    width: 550px;
  }
}
#page3 .hero .orbit-neptune {
  z-index: 0;
  animation: orbit-rotation 3457s -880.8246575342s linear infinite forwards;
}
@media (min-width: 1920px) {
  #page3 .hero .orbit-neptune {
    width: 800px;
  }
}
@media (max-width: 1919px) {
  #page3 .hero .orbit-neptune {
    width: 700px;
  }
}
@media (max-width: 1023px) {
  #page3 .hero .orbit-neptune {
    width: 680px;
  }
}
#page3 .hero .planet {
  display: block;
  box-shadow: 0 0 10px 1px black;
}
#page3 .hero .planet-hoverbox {
  position: relative;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  transition: box-shadow 250ms ease;
}
#page3 .hero .planet-hoverbox:hover .planet-hoverbox-infocard {
  opacity: 1;
}
#page3 .hero .planet-hoverbox-infocard {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: opacity 250ms ease;
}
#page3 .hero .planet-hoverbox-infocard p {
  text-shadow: 0 0 4px black;
  font-weight: bold;
  font-size: 32px;
  color: white;
  top: -15px;
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}
#page3 .hero .planet-hoverbox .planet-mercury {
  width: 6px;
  background: grey;
}
#page3 .hero .planet-hoverbox .planet-mercury + .planet-hoverbox-infocard {
  animation: infocard-rotation 5s -4.1095890411s linear infinite forwards;
}
#page3 .hero .planet-hoverbox .planet-venus {
  width: 8px;
  background: beige;
}
#page3 .hero .planet-hoverbox .planet-venus + .planet-hoverbox-infocard {
  animation: infocard-rotation 12.9s -4.3117808219s linear infinite forwards;
}
#page3 .hero .planet-hoverbox .planet-earth {
  width: 8px;
  background: lightblue;
}
#page3 .hero .planet-hoverbox .planet-earth + .planet-hoverbox-infocard {
  animation: infocard-rotation 21s -14.9589041096s linear infinite forwards;
}
#page3 .hero .planet-hoverbox .planet-mars {
  width: 10px;
  background: indianred;
}
#page3 .hero .planet-hoverbox .planet-mars + .planet-hoverbox-infocard {
  animation: infocard-rotation 39.5s -14.9342465753s linear infinite forwards;
}
#page3 .hero .planet-hoverbox .planet-jupiter {
  width: 30px;
  background: tan;
}
#page3 .hero .planet-hoverbox .planet-jupiter + .planet-hoverbox-infocard {
  animation: infocard-rotation 249.6s -25.3019178082s linear infinite forwards;
}
#page3 .hero .planet-hoverbox .planet-saturn {
  width: 25px;
  background: khaki;
}
#page3 .hero .planet-hoverbox .planet-saturn + .planet-hoverbox-infocard {
  animation: infocard-rotation 618.8s -184.7923287671s linear infinite forwards;
}
#page3 .hero .planet-hoverbox .planet-uranus {
  width: 15px;
  background: lightblue;
}
#page3 .hero .planet-hoverbox .planet-uranus + .planet-hoverbox-infocard {
  animation: infocard-rotation 1762s -183.4410958904s linear infinite forwards;
}
#page3 .hero .planet-hoverbox .planet-neptune {
  width: 14px;
  background: lightsteelblue;
}
#page3 .hero .planet-hoverbox .planet-neptune + .planet-hoverbox-infocard {
  animation: infocard-rotation 3457s -880.8246575342s linear infinite forwards;
}
#page3 .hero .planet-clickbox {
  opacity: 0;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  background-color: rgba(0, 0, 0, 0.2);
  height: 400px;
  border-radius: 8px;
  border: 2px dashed rgba(255, 255, 255, 0.7);
  margin-left: 550px;
  padding: 16px;
  transition: opacity 250ms ease;
}
@media (max-width: 1023px) {
  #page3 .hero .planet-clickbox {
    display: none;
  }
}
@media (min-width: 1920px) {
  #page3 .hero .planet-clickbox {
    width: 400px;
  }
}
@media (max-width: 1919px) {
  #page3 .hero .planet-clickbox {
    width: 300px;
  }
}
@media (max-width: 1023px) {
  #page3 .hero .planet-clickbox {
    width: 0;
  }
}
@media (min-width: 1920px) {
  #page3 .hero .planet-clickbox {
    margin-left: 550px;
  }
}
@media (max-width: 1919px) {
  #page3 .hero .planet-clickbox {
    margin-left: 300px;
  }
}
@media (max-width: 1023px) {
  #page3 .hero .planet-clickbox {
    margin-left: 0;
  }
}
#page3 .hero .planet-clickbox-infocard {
  display: none;
  opacity: 0;
  height: 100%;
  flex-direction: column;
  transition: opacity 250ms ease;
}
#page3 .hero .planet-clickbox-infocard-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  text-shadow: 0 0 5px white;
}
#page3 .hero .planet-clickbox-infocard-title a {
  width: 35px;
  height: 35px;
}
#page3 .hero .planet-clickbox-infocard-title a svg {
  width: 35px;
  height: 35px;
}
#page3 .hero .planet-clickbox-infocard-text {
  text-shadow: 0 0 5px white;
}
@media (min-width: 1920px) {
  #page3 .hero .planet-clickbox-infocard-text {
    font-size: 34px;
  }
}
@media (max-width: 1919px) {
  #page3 .hero .planet-clickbox-infocard-text {
    font-size: 28px;
  }
}
@media (max-width: 1023px) {
  #page3 .hero .planet-clickbox-infocard-text {
    font-size: 0;
  }
}
#page3 .hero .planet-clickbox-infocard .btn {
  margin-top: auto;
}
#page3 .hero .planet-clickbox-infocard .btn svg {
  transform: translateY(-68%);
}
#page3 .hero .planet-clickbox .active {
  display: flex;
  opacity: 1;
}
#page3 .hero .planet-3d-bg {
  position: absolute;
  width: 100%;
  height: 100%;
}
#page3 .hero .planet-3d-bg img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#page3 .hero .planet-3d-bg video {
  position: absolute;
  right: -200px;
  filter: blur(2px);
  top: 50%;
  opacity: 0;
  border-radius: 50%;
  box-shadow: inset 0px 0px 36px 36px transparent;
  transition: opacity 300ms ease;
}
#page3 .hero .planet-3d-bg video.active-3d {
  opacity: 0.7;
}
#page3 .hero .planet-3d-bg #sun-3d {
  transform: translateY(-46%) rotate(8deg) scale(1.8);
}
#page3 .hero .planet-3d-bg #mercury-3d {
  right: 0px;
  transform: translateY(-46%) rotate(8deg) scale(0.6);
}
#page3 .hero .planet-3d-bg #venus-3d {
  transform: translateY(-46%) rotate(8deg) scale(1);
}
#page3 .hero .planet-3d-bg #earth-3d {
  transform: translateY(-46%) rotate(8deg) scale(1);
}
#page3 .hero .planet-3d-bg #mars-3d {
  transform: translateY(-46%) rotate(8deg) scale(0.8);
}
#page3 .hero .planet-3d-bg #jupiter-3d {
  transform: translateY(-46%) rotate(8deg) scale(1.6);
}
#page3 .hero .planet-3d-bg #saturn-3d {
  right: -100px;
  transform: translateY(-46%) rotate(8deg) scale(2.3);
}
#page3 .hero .planet-3d-bg #uranus-3d {
  transform: translateY(-46%) rotate(8deg) scale(1.5);
}
#page3 .hero .planet-3d-bg #neptune-3d {
  transform: translateY(-46%) rotate(8deg) scale(1.4);
}
@keyframes clickbox-init {}
@keyframes clickbox-transition {}
#page3 .container {
  padding-top: 120px;
}
@media (min-width: 1920px) {
  #page3 .container {
    padding-top: 120px;
  }
}
@media (max-width: 1919px) {
  #page3 .container {
    padding-top: 80px;
  }
}
@media (max-width: 1023px) {
  #page3 .container {
    padding-top: 40px;
  }
}
#page3 .container .infotab {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 1920px) {
  #page3 .container .infotab {
    height: 500px;
  }
}
@media (max-width: 1919px) {
  #page3 .container .infotab {
    height: 800px;
  }
}
@media (max-width: 1023px) {
  #page3 .container .infotab {
    height: 100vh;
  }
}
@media (min-width: 1920px) {
  #page3 .container .infotab {
    margin-bottom: 120px;
  }
}
@media (max-width: 1919px) {
  #page3 .container .infotab {
    margin-bottom: 120px;
  }
}
@media (max-width: 1023px) {
  #page3 .container .infotab {
    margin-bottom: 60px;
  }
}
@media (min-width: 1920px) {
  #page3 .container .infotab {
    flex-direction: row;
  }
}
@media (max-width: 1919px) {
  #page3 .container .infotab {
    flex-direction: column-reverse;
  }
}
@media (max-width: 1023px) {
  #page3 .container .infotab {
    flex-direction: column-reverse;
  }
}
@media (min-width: 1920px) {
  #page3 .container .infotab:nth-child(even) {
    flex-direction: row-reverse;
  }
}
@media (min-width: 1920px) {
  #page3 .container .infotab:last-child {
    margin-bottom: 250px;
  }
}
@media (max-width: 1919px) {
  #page3 .container .infotab:last-child {
    margin-bottom: 200px;
  }
}
@media (max-width: 1023px) {
  #page3 .container .infotab:last-child {
    margin-bottom: 100px;
  }
}
#page3 .container .infotab .textcontent {
  z-index: 99;
}
@media (min-width: 1920px) {
  #page3 .container .infotab .textcontent {
    height: 100%;
  }
}
@media (max-width: 1919px) {
  #page3 .container .infotab .textcontent {
    height: 50%;
  }
}
@media (max-width: 1023px) {
  #page3 .container .infotab .textcontent {
    height: 60%;
  }
}
@media (min-width: 1920px) {
  #page3 .container .infotab .textcontent .header {
    margin-bottom: 30px;
  }
}
@media (max-width: 1919px) {
  #page3 .container .infotab .textcontent .header {
    margin-bottom: 20px;
  }
}
@media (max-width: 1023px) {
  #page3 .container .infotab .textcontent .header {
    margin-bottom: 10px;
  }
}
@media (min-width: 1920px) {
  #page3 .container .infotab .textcontent .header {
    text-align: start;
  }
}
@media (max-width: 1919px) {
  #page3 .container .infotab .textcontent .header {
    text-align: center;
  }
}
@media (max-width: 1023px) {
  #page3 .container .infotab .textcontent .header {
    text-align: center;
  }
}
#page3 .container .infotab .textcontent .paragraph {
  height: calc(100% - 75px);
  overflow: hidden;
  position: relative;
}
#page3 .container .infotab .textcontent .paragraph-content {
  height: 100%;
  overflow-y: scroll;
}
#page3 .container .infotab .textcontent .paragraph-content::-webkit-scrollbar {
  width: 8px;
}
#page3 .container .infotab .textcontent .paragraph-content::-webkit-scrollbar-track {
  background: transparent;
}
#page3 .container .infotab .textcontent .paragraph-content::-webkit-scrollbar-thumb {
  background: radial-gradient(white, #cc95dd);
  border-radius: 4px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}
#page3 .container .infotab .textcontent .paragraph-content::-webkit-scrollbar-thumb:hover {
  background: radial-gradient(white 30%, #cc95dd);
}
#page3 .container .infotab .swiper-outer {
  height: -moz-fit-content;
  height: fit-content;
}
@media (min-width: 1920px) {
  #page3 .container .infotab .swiper-outer {
    width: 50%;
  }
}
@media (max-width: 1919px) {
  #page3 .container .infotab .swiper-outer {
    width: 80%;
  }
}
@media (max-width: 1023px) {
  #page3 .container .infotab .swiper-outer {
    width: 100%;
  }
}
@media (min-width: 1920px) {
  #page3 .container .infotab .swiper-outer {
    padding: 0 60px;
  }
}
@media (min-width: 1920px) {
  #page3 .container .infotab .swiper-outer {
    margin: auto 0;
  }
}
@media (max-width: 1919px) {
  #page3 .container .infotab .swiper-outer {
    margin: 0 auto;
  }
}
@media (max-width: 1023px) {
  #page3 .container .infotab .swiper-outer {
    margin: 0;
  }
}
#page3 .container .infotab .swiper-outer .swiper {
  --swiper-navigation-sides-offset: -50px;
  --swiper-pagination-bottom: -25px;
  aspect-ratio: 16/9;
  overflow: visible;
}
#page3 .container .infotab .swiper-outer .swiper .swiper-wrapper .swiper-slide {
  filter: blur(2px);
  transition: all 250ms ease;
  transform: scale(0.8);
}
@media (min-width: 1920px) {
  #page3 .container .infotab .swiper-outer .swiper .swiper-wrapper .swiper-slide {
    opacity: 0;
  }
}
@media (max-width: 1919px) {
  #page3 .container .infotab .swiper-outer .swiper .swiper-wrapper .swiper-slide {
    opacity: 0.5;
  }
}
@media (max-width: 1023px) {
  #page3 .container .infotab .swiper-outer .swiper .swiper-wrapper .swiper-slide {
    opacity: 0.5;
  }
}
#page3 .container .infotab .swiper-outer .swiper .swiper-wrapper .swiper-slide:hover {
  transform: scale(0.81);
}
#page3 .container .infotab .swiper-outer .swiper .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
#page3 .container .infotab .swiper-outer .swiper .swiper-wrapper .swiper-slide-active {
  opacity: 1;
  transition: all 250ms ease;
  filter: blur(0);
  transform: scale(1);
}
#page3 .container .infotab .swiper-outer .swiper .swiper-wrapper .swiper-slide-active:hover {
  transform: scale(1.01);
}
#page3 .container .infotab .swiper-outer .swiper .swiper-button-prev svg, #page3 .container .infotab .swiper-outer .swiper .swiper-button-next svg {
  fill: #fff;
}
#page3 .container .infotab .swiper-outer .swiper .swiper-button-prev svg:hover, #page3 .container .infotab .swiper-outer .swiper .swiper-button-next svg:hover {
  fill: rgba(255, 255, 255, 0.6);
}
#page3 .container .infotab .swiper-outer .swiper .swiper-button-prev::after, #page3 .container .infotab .swiper-outer .swiper .swiper-button-next::after {
  display: none;
}
#page3 .container .infotab .swiper-outer .swiper .swiper-button-prev svg {
  transform: rotate(180deg);
}
#page3 .container .infotab .swiper-outer .swiper .swiper-button-disabled svg {
  fill: rgba(255, 255, 255, 0.4);
}/*# sourceMappingURL=page3.css.map */