#page3 .hero video {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  animation: hero-video-opacity 5s ease 5s forwards, hero-video-loop 10s ease-in-out 9s infinite;
}
@keyframes hero-video-loop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes hero-video-opacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}
#page3 .hero h1 {
  font-size: 100px;
  text-shadow: 0 0 5px white;
  line-height: 1.3;
  opacity: 0;
  animation: hero-text-opacity 1s 3s forwards;
}
@keyframes hero-text-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#page3 .container .suntypes-header {
  margin-top: 80px;
  text-align: center;
}
@media (min-width: 1920px) {
  #page3 .container .suntypes-header {
    margin-bottom: 60px;
  }
}
@media (max-width: 1919px) {
  #page3 .container .suntypes-header {
    margin-bottom: 40px;
  }
}
@media (max-width: 1023px) {
  #page3 .container .suntypes-header {
    margin-bottom: 20px;
  }
}
#page3 .container #suntypes {
  margin-bottom: 200px;
  display: flex;
  justify-content: space-around;
}
@media (min-width: 1920px) {
  #page3 .container #suntypes {
    height: 700px;
  }
}
@media (max-width: 1919px) {
  #page3 .container #suntypes {
    height: 600px;
  }
}
@media (max-width: 1023px) {
  #page3 .container #suntypes {
    height: 850px;
  }
}
@media (max-width: 1023px) {
  #page3 .container #suntypes {
    flex-direction: column-reverse;
  }
}
#page3 .container #suntypes .textcontent {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1920px) {
  #page3 .container #suntypes .textcontent {
    width: 720px;
  }
}
@media (max-width: 1919px) {
  #page3 .container #suntypes .textcontent {
    width: 720px;
  }
}
@media (max-width: 1023px) {
  #page3 .container #suntypes .textcontent {
    width: 100%;
  }
}
@media (min-width: 1920px) {
  #page3 .container #suntypes .textcontent {
    height: 100%;
  }
}
@media (max-width: 1919px) {
  #page3 .container #suntypes .textcontent {
    height: 100%;
  }
}
@media (max-width: 1023px) {
  #page3 .container #suntypes .textcontent {
    height: 50%;
  }
}
@media (min-width: 1920px) {
  #page3 .container #suntypes .textcontent {
    padding: 0 100px 0 20px;
  }
}
@media (max-width: 1919px) {
  #page3 .container #suntypes .textcontent {
    padding: 0 10px;
  }
}
@media (max-width: 1023px) {
  #page3 .container #suntypes .textcontent {
    padding: 0 10px;
  }
}
#page3 .container #suntypes .textcontent .header {
  width: -moz-fit-content;
  width: fit-content;
}
@media (min-width: 1920px) {
  #page3 .container #suntypes .textcontent .header {
    margin-bottom: 30px;
  }
}
@media (max-width: 1919px) {
  #page3 .container #suntypes .textcontent .header {
    margin-bottom: 20px;
  }
}
@media (max-width: 1023px) {
  #page3 .container #suntypes .textcontent .header {
    margin-bottom: 10px;
  }
}
@media (min-width: 1920px) {
  #page3 .container #suntypes .textcontent .content {
    font-size: 40px;
  }
}
@media (max-width: 1919px) {
  #page3 .container #suntypes .textcontent .content {
    font-size: 32px;
  }
}
@media (max-width: 1023px) {
  #page3 .container #suntypes .textcontent .content {
    font-size: 24px;
  }
}
#page3 .container #suntypes .textcontent .btn {
  margin-top: auto;
}
@media (min-width: 1920px) {
  #page3 .container #suntypes .textcontent .btn {
    font-size: 36px;
  }
}
@media (max-width: 1919px) {
  #page3 .container #suntypes .textcontent .btn {
    font-size: 32px;
  }
}
@media (max-width: 1023px) {
  #page3 .container #suntypes .textcontent .btn {
    font-size: 24px;
  }
}
#page3 .container #suntypes .textcontent .suntypes-swiper {
  --swiper-pagination-color: #cc95dd;
  --swiper-pagination-bullet-inactive-color: white;
  --swiper-pagination-bullet-horizontal-gap: 6px;
  height: 90%;
  position: relative;
}
#page3 .container #suntypes .textcontent .suntypes-swiper-pagination {
  margin-top: 15px;
}
#page3 .container #suntypes .textcontent .suntypes-swiper-button {
  z-index: 5;
  position: absolute;
  display: flex;
}
@media (min-width: 1920px) {
  #page3 .container #suntypes .textcontent .suntypes-swiper-button {
    right: 32px;
  }
}
@media (max-width: 1919px) {
  #page3 .container #suntypes .textcontent .suntypes-swiper-button {
    right: 24px;
  }
}
@media (max-width: 1023px) {
  #page3 .container #suntypes .textcontent .suntypes-swiper-button {
    right: 24px;
  }
}
@media (min-width: 1920px) {
  #page3 .container #suntypes .textcontent .suntypes-swiper-button {
    top: 12px;
  }
}
@media (max-width: 1919px) {
  #page3 .container #suntypes .textcontent .suntypes-swiper-button {
    top: 8px;
  }
}
@media (max-width: 1023px) {
  #page3 .container #suntypes .textcontent .suntypes-swiper-button {
    top: 4px;
  }
}
@media (min-width: 1920px) {
  #page3 .container #suntypes .textcontent .suntypes-swiper-button {
    gap: 32px;
  }
}
@media (max-width: 1919px) {
  #page3 .container #suntypes .textcontent .suntypes-swiper-button {
    gap: 24px;
  }
}
@media (max-width: 1023px) {
  #page3 .container #suntypes .textcontent .suntypes-swiper-button {
    gap: 24px;
  }
}
#page3 .container #suntypes .textcontent .suntypes-swiper-button-prev svg, #page3 .container #suntypes .textcontent .suntypes-swiper-button-next svg {
  fill: #fff;
}
@media (min-width: 1920px) {
  #page3 .container #suntypes .textcontent .suntypes-swiper-button-prev svg, #page3 .container #suntypes .textcontent .suntypes-swiper-button-next svg {
    width: 32px;
  }
}
@media (max-width: 1919px) {
  #page3 .container #suntypes .textcontent .suntypes-swiper-button-prev svg, #page3 .container #suntypes .textcontent .suntypes-swiper-button-next svg {
    width: 24px;
  }
}
@media (max-width: 1023px) {
  #page3 .container #suntypes .textcontent .suntypes-swiper-button-prev svg, #page3 .container #suntypes .textcontent .suntypes-swiper-button-next svg {
    width: 24px;
  }
}
@media (min-width: 1920px) {
  #page3 .container #suntypes .textcontent .suntypes-swiper-button-prev svg, #page3 .container #suntypes .textcontent .suntypes-swiper-button-next svg {
    height: 32px;
  }
}
@media (max-width: 1919px) {
  #page3 .container #suntypes .textcontent .suntypes-swiper-button-prev svg, #page3 .container #suntypes .textcontent .suntypes-swiper-button-next svg {
    height: 24px;
  }
}
@media (max-width: 1023px) {
  #page3 .container #suntypes .textcontent .suntypes-swiper-button-prev svg, #page3 .container #suntypes .textcontent .suntypes-swiper-button-next svg {
    height: 24px;
  }
}
#page3 .container #suntypes .textcontent .suntypes-swiper-button-prev svg:hover, #page3 .container #suntypes .textcontent .suntypes-swiper-button-next svg:hover {
  fill: rgba(255, 255, 255, 0.6);
}
#page3 .container #suntypes .textcontent .suntypes-swiper-button-prev::after, #page3 .container #suntypes .textcontent .suntypes-swiper-button-next::after {
  display: none;
}
#page3 .container #suntypes .textcontent .suntypes-swiper-button-prev svg {
  transform: rotate(180deg);
}
#page3 .container #suntypes .textcontent .suntypes-swiper-button .swiper-button-disabled svg {
  fill: rgba(255, 255, 255, 0.4);
}
#page3 .container #suntypes .image {
  position: relative;
  aspect-ratio: 647/862;
  width: auto;
}
@media (min-width: 1920px) {
  #page3 .container #suntypes .image {
    height: 100%;
  }
}
@media (max-width: 1919px) {
  #page3 .container #suntypes .image {
    height: 80%;
  }
}
@media (max-width: 1023px) {
  #page3 .container #suntypes .image {
    height: 45%;
  }
}
@media (min-width: 1920px) {
  #page3 .container #suntypes .image {
    margin: 0;
  }
}
@media (max-width: 1919px) {
  #page3 .container #suntypes .image {
    margin: auto 0;
  }
}
@media (max-width: 1023px) {
  #page3 .container #suntypes .image {
    margin: 0 auto;
  }
}
#page3 .container #suntypes .image-bg-gradient {
  position: absolute;
  z-index: 0;
  opacity: 0.6;
  background: linear-gradient(to right, #a6d0e1, #ffffff, #fff729, #eb930d, #b40200);
  border-top-right-radius: 8px;
}
@media (min-width: 1920px) {
  #page3 .container #suntypes .image-bg-gradient {
    width: 410px;
  }
}
@media (max-width: 1919px) {
  #page3 .container #suntypes .image-bg-gradient {
    width: 282px;
  }
}
@media (max-width: 1023px) {
  #page3 .container #suntypes .image-bg-gradient {
    width: 224px;
  }
}
@media (min-width: 1920px) {
  #page3 .container #suntypes .image-bg-gradient {
    height: 614px;
  }
}
@media (max-width: 1919px) {
  #page3 .container #suntypes .image-bg-gradient {
    height: 421px;
  }
}
@media (max-width: 1023px) {
  #page3 .container #suntypes .image-bg-gradient {
    height: 335px;
  }
}
@media (min-width: 1920px) {
  #page3 .container #suntypes .image-bg-gradient {
    top: 22px;
  }
}
@media (max-width: 1919px) {
  #page3 .container #suntypes .image-bg-gradient {
    top: 15px;
  }
}
@media (max-width: 1023px) {
  #page3 .container #suntypes .image-bg-gradient {
    top: 12px;
  }
}
@media (min-width: 1920px) {
  #page3 .container #suntypes .image-bg-gradient {
    left: 63px;
  }
}
@media (max-width: 1919px) {
  #page3 .container #suntypes .image-bg-gradient {
    left: 42px;
  }
}
@media (max-width: 1023px) {
  #page3 .container #suntypes .image-bg-gradient {
    left: 34px;
  }
}
#page3 .container #suntypes .image > img {
  z-index: 0;
  height: 100%;
}
#page3 .container #suntypes .image img {
  position: absolute;
}
#page3 .container #suntypes .image-dots {
  position: relative;
  height: 100%;
}
#page3 .container #suntypes .image-dots img {
  z-index: 1;
  opacity: 0;
  transition: opacity 150ms ease;
}
@media (min-width: 1920px) {
  #page3 .container #suntypes .image-dots img {
    transform: scale(0.81);
  }
}
@media (max-width: 1919px) {
  #page3 .container #suntypes .image-dots img {
    transform: scale(0.56);
  }
}
@media (max-width: 1023px) {
  #page3 .container #suntypes .image-dots img {
    transform: scale(0.45);
  }
}
#page3 .container #suntypes .image-dots .active {
  opacity: 1;
}
@media (min-width: 1920px) {
  #page3 .container #suntypes .image-dots-ueberriesen {
    top: 46px;
  }
}
@media (max-width: 1919px) {
  #page3 .container #suntypes .image-dots-ueberriesen {
    top: 18px;
  }
}
@media (max-width: 1023px) {
  #page3 .container #suntypes .image-dots-ueberriesen {
    top: 5px;
  }
}
@media (min-width: 1920px) {
  #page3 .container #suntypes .image-dots-ueberriesen {
    left: 98px;
  }
}
@media (max-width: 1919px) {
  #page3 .container #suntypes .image-dots-ueberriesen {
    left: 24px;
  }
}
@media (max-width: 1023px) {
  #page3 .container #suntypes .image-dots-ueberriesen {
    left: -9px;
  }
}
@media (min-width: 1920px) {
  #page3 .container #suntypes .image-dots-helleriesen {
    top: 114px;
  }
}
@media (max-width: 1919px) {
  #page3 .container #suntypes .image-dots-helleriesen {
    top: 64px;
  }
}
@media (max-width: 1023px) {
  #page3 .container #suntypes .image-dots-helleriesen {
    top: 42px;
  }
}
@media (min-width: 1920px) {
  #page3 .container #suntypes .image-dots-helleriesen {
    left: 94px;
  }
}
@media (max-width: 1919px) {
  #page3 .container #suntypes .image-dots-helleriesen {
    left: 4px;
  }
}
@media (max-width: 1023px) {
  #page3 .container #suntypes .image-dots-helleriesen {
    left: -36px;
  }
}
@media (min-width: 1920px) {
  #page3 .container #suntypes .image-dots-riesen {
    top: 185px;
  }
}
@media (max-width: 1919px) {
  #page3 .container #suntypes .image-dots-riesen {
    top: 116px;
  }
}
@media (max-width: 1023px) {
  #page3 .container #suntypes .image-dots-riesen {
    top: 85px;
  }
}
@media (min-width: 1920px) {
  #page3 .container #suntypes .image-dots-riesen {
    left: 146px;
  }
}
@media (max-width: 1919px) {
  #page3 .container #suntypes .image-dots-riesen {
    left: 50px;
  }
}
@media (max-width: 1023px) {
  #page3 .container #suntypes .image-dots-riesen {
    left: 8px;
  }
}
@media (min-width: 1920px) {
  #page3 .container #suntypes .image-dots-unterriesen {
    top: 212px;
  }
}
@media (max-width: 1919px) {
  #page3 .container #suntypes .image-dots-unterriesen {
    top: 122px;
  }
}
@media (max-width: 1023px) {
  #page3 .container #suntypes .image-dots-unterriesen {
    top: 82px;
  }
}
@media (min-width: 1920px) {
  #page3 .container #suntypes .image-dots-unterriesen {
    left: 136px;
  }
}
@media (max-width: 1919px) {
  #page3 .container #suntypes .image-dots-unterriesen {
    left: 43px;
  }
}
@media (max-width: 1023px) {
  #page3 .container #suntypes .image-dots-unterriesen {
    left: 2px;
  }
}
@media (max-width: 1023px) {
  #page3 .container #suntypes .image-dots-zwerge {
    transform: scale(0.445) !important;
  }
}
@media (min-width: 1920px) {
  #page3 .container #suntypes .image-dots-zwerge {
    top: 93px;
  }
}
@media (max-width: 1919px) {
  #page3 .container #suntypes .image-dots-zwerge {
    top: 2px;
  }
}
@media (max-width: 1023px) {
  #page3 .container #suntypes .image-dots-zwerge {
    top: -38px;
  }
}
@media (min-width: 1920px) {
  #page3 .container #suntypes .image-dots-zwerge {
    left: 47px;
  }
}
@media (max-width: 1919px) {
  #page3 .container #suntypes .image-dots-zwerge {
    left: -32px;
  }
}
@media (max-width: 1023px) {
  #page3 .container #suntypes .image-dots-zwerge {
    left: -66px;
  }
}
@media (max-width: 1023px) {
  #page3 .container #suntypes .image-dots-unterzwerge {
    transform: scale(0.445) !important;
  }
}
@media (min-width: 1920px) {
  #page3 .container #suntypes .image-dots-unterzwerge {
    top: 430px;
  }
}
@media (max-width: 1919px) {
  #page3 .container #suntypes .image-dots-unterzwerge {
    top: 271px;
  }
}
@media (max-width: 1023px) {
  #page3 .container #suntypes .image-dots-unterzwerge {
    top: 199px;
  }
}
@media (min-width: 1920px) {
  #page3 .container #suntypes .image-dots-unterzwerge {
    left: 341px;
  }
}
@media (max-width: 1919px) {
  #page3 .container #suntypes .image-dots-unterzwerge {
    left: 215px;
  }
}
@media (max-width: 1023px) {
  #page3 .container #suntypes .image-dots-unterzwerge {
    left: 160px;
  }
}
@media (min-width: 1920px) {
  #page3 .container #suntypes .image-dots-weissezwerge {
    top: 458px;
  }
}
@media (max-width: 1919px) {
  #page3 .container #suntypes .image-dots-weissezwerge {
    top: 288px;
  }
}
@media (max-width: 1023px) {
  #page3 .container #suntypes .image-dots-weissezwerge {
    top: 214px;
  }
}
@media (min-width: 1920px) {
  #page3 .container #suntypes .image-dots-weissezwerge {
    left: 87px;
  }
}
@media (max-width: 1919px) {
  #page3 .container #suntypes .image-dots-weissezwerge {
    left: 18px;
  }
}
@media (max-width: 1023px) {
  #page3 .container #suntypes .image-dots-weissezwerge {
    left: -12px;
  }
}
#page3 .swiper {
  --swiper-pagination-color: #cc95dd;
  --swiper-pagination-bullet-inactive-color: white;
  --swiper-pagination-bullet-horizontal-gap: 6px;
  overflow: visible !important;
}
@media (min-width: 1920px) {
  #page3 .swiper {
    --swiper-pagination-bottom: 75px;
  }
}
@media (max-width: 1919px) {
  #page3 .swiper {
    --swiper-pagination-bottom: 70px;
  }
}
@media (max-width: 1023px) {
  #page3 .swiper {
    --swiper-pagination-bottom: -8px;
  }
}
@media (min-width: 1920px) {
  #page3 .swiper {
    --swiper-navigation-sides-offset: -40px;
  }
}
@media (max-width: 1919px) {
  #page3 .swiper {
    --swiper-navigation-sides-offset: -80px;
  }
}
@media (max-width: 1023px) {
  #page3 .swiper {
    --swiper-navigation-sides-offset: -40px;
  }
}
@media (min-width: 1920px) {
  #page3 .swiper {
    height: 945px;
  }
}
@media (max-width: 1919px) {
  #page3 .swiper {
    height: 800px;
  }
}
@media (max-width: 1023px) {
  #page3 .swiper {
    height: 700px;
  }
}
@media (min-width: 1920px) {
  #page3 .swiper {
    padding: 100px 0;
  }
}
@media (max-width: 1919px) {
  #page3 .swiper {
    padding: 80px 0 50px 0;
  }
}
@media (max-width: 1023px) {
  #page3 .swiper {
    padding: 0;
  }
}
#page3 .swiper-slide {
  display: flex;
  flex-direction: column;
}
@media (max-width: 1023px) {
  #page3 .swiper-slide {
    justify-content: space-between;
  }
}
#page3 .swiper-slide h2 {
  margin-bottom: 50px;
  font-size: 150px;
  text-shadow: 0 0 5px white;
}
@media (min-width: 1920px) {
  #page3 .swiper-slide h2 {
    font-size: 150px;
  }
}
@media (max-width: 1919px) {
  #page3 .swiper-slide h2 {
    font-size: 100px;
  }
}
@media (max-width: 1023px) {
  #page3 .swiper-slide h2 {
    font-size: 60px;
  }
}
#page3 .swiper-slide video {
  position: absolute;
  z-index: -1;
}
#page3 .swiper-slide .paragraph {
  position: relative;
  margin: 0 80px 50px auto;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}
@media (min-width: 1920px) {
  #page3 .swiper-slide .paragraph {
    margin: 0 80px 50px auto;
  }
}
@media (max-width: 1919px) {
  #page3 .swiper-slide .paragraph {
    margin: auto 30px 50px auto;
  }
}
@media (max-width: 1023px) {
  #page3 .swiper-slide .paragraph {
    margin: 0;
  }
}
@media (min-width: 1920px) {
  #page3 .swiper-slide .paragraph {
    width: 800px;
  }
}
@media (max-width: 1919px) {
  #page3 .swiper-slide .paragraph {
    width: 520px;
  }
}
@media (max-width: 1023px) {
  #page3 .swiper-slide .paragraph {
    width: 100%;
  }
}
@media (min-width: 1920px) {
  #page3 .swiper-slide .paragraph {
    max-height: 500px;
  }
}
@media (max-width: 1919px) {
  #page3 .swiper-slide .paragraph {
    max-height: 380px;
  }
}
@media (max-width: 1023px) {
  #page3 .swiper-slide .paragraph {
    max-height: 300px;
  }
}
#page3 .swiper-slide .paragraph p {
  overflow-y: scroll;
  padding-top: 10px;
  height: 100%;
  text-shadow: 0 0 4px black;
}
#page3 .swiper-slide .paragraph p::-webkit-scrollbar {
  width: 8px;
}
#page3 .swiper-slide .paragraph p::-webkit-scrollbar-track {
  background: transparent;
}
#page3 .swiper-slide .paragraph p::-webkit-scrollbar-thumb {
  background: radial-gradient(white, #cc95dd);
  border-radius: 4px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}
#page3 .swiper-slide .paragraph p::-webkit-scrollbar-thumb:hover {
  background: radial-gradient(white 30%, #cc95dd);
}
@media (min-width: 1920px) {
  #page3 .swiper-slide .blackhole-video {
    height: 130%;
  }
}
@media (max-width: 1919px) {
  #page3 .swiper-slide .blackhole-video {
    height: 100%;
  }
}
@media (max-width: 1023px) {
  #page3 .swiper-slide .blackhole-video {
    height: 70%;
  }
}
@media (min-width: 1920px) {
  #page3 .swiper-slide .blackhole-video {
    left: -200px;
  }
}
@media (max-width: 1919px) {
  #page3 .swiper-slide .blackhole-video {
    left: -300px;
  }
}
@media (max-width: 1023px) {
  #page3 .swiper-slide .blackhole-video {
    left: -150px;
  }
}
@media (min-width: 1920px) {
  #page3 .swiper-slide .neutronstars-video {
    height: 130%;
  }
}
@media (max-width: 1919px) {
  #page3 .swiper-slide .neutronstars-video {
    height: 120%;
  }
}
@media (max-width: 1023px) {
  #page3 .swiper-slide .neutronstars-video {
    height: 70%;
  }
}
@media (min-width: 1920px) {
  #page3 .swiper-slide .neutronstars-video {
    left: -100px;
  }
}
@media (max-width: 1919px) {
  #page3 .swiper-slide .neutronstars-video {
    left: -250px;
  }
}
@media (max-width: 1023px) {
  #page3 .swiper-slide .neutronstars-video {
    left: -70px;
  }
}
@media (min-width: 1920px) {
  #page3 .swiper-slide .quasar-video {
    height: 110%;
  }
}
@media (max-width: 1919px) {
  #page3 .swiper-slide .quasar-video {
    height: 100%;
  }
}
@media (max-width: 1023px) {
  #page3 .swiper-slide .quasar-video {
    height: 70%;
  }
}
@media (min-width: 1920px) {
  #page3 .swiper-slide .quasar-video {
    left: -150px;
  }
}
@media (max-width: 1919px) {
  #page3 .swiper-slide .quasar-video {
    left: -400px;
  }
}
@media (max-width: 1023px) {
  #page3 .swiper-slide .quasar-video {
    left: -250px;
  }
}
#page3 .swiper-button-prev svg, #page3 .swiper-button-next svg {
  fill: #fff;
}
#page3 .swiper-button-prev svg:hover, #page3 .swiper-button-next svg:hover {
  fill: rgba(255, 255, 255, 0.6);
}
#page3 .swiper-button-prev::after, #page3 .swiper-button-next::after {
  display: none;
}
#page3 .swiper-button-prev svg {
  transform: rotate(180deg);
}
#page3 .swiper-button-disabled svg {
  fill: rgba(255, 255, 255, 0.4);
}/*# sourceMappingURL=page4.css.map */